<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About our website</title>
</head>
<body>
  <div class="container" style="text-align: center">
    {% include 'navbar.html' %}
    <h1>About our official website</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo a delectus possimus quia deserunt quod sapiente architecto voluptas, numquam veritatis, error beatae corrupti voluptate, commodi facilis aperiam. Minus quae quaerat accusantium. Quae, itaque ea quia error doloremque dolores. Unde similique cupiditate recusandae cum nesciunt suscipit ex accusantium accusamus reprehenderit tenetur!</p>
    <button>Contact US</button>
  </div>
</body>
</html>